openapi: 3.0.1
info:
  title: Vocode Hosted Actions Usage API
  description: Hosted REST API for the Vocode voice AI platform. Place and manage outbound and inbound phone calls driven by configurable voice agents, and manage the agents, voices, prompts, actions, phone numbers, and webhooks that power them. All requests are authenticated with a Bearer API key. This specification covers the hosted API and is distinct from the open-source vocode-core Python library.
  termsOfService: https://www.vocode.dev
  contact:
    name: Vocode Support
    url: https://docs.vocode.dev
  version: 1.0.0
servers:
- url: https://api.vocode.dev/v1
  description: Production environment
security:
- HTTPBearer: []
tags:
- name: Usage
paths:
  /usage:
    get:
      operationId: getUsage
      tags:
      - Usage
      summary: Get account usage
      description: Returns the account plan type and monthly call-minute usage against any limit.
      responses:
        '200':
          description: The account usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usage'
components:
  schemas:
    Usage:
      type: object
      required:
      - user_id
      - plan_type
      - monthly_usage_minutes
      properties:
        user_id:
          type: string
          format: uuid
        plan_type:
          $ref: '#/components/schemas/PlanType'
        monthly_usage_minutes:
          type: integer
        monthly_usage_limit_minutes:
          type: integer
          nullable: true
    PlanType:
      type: string
      enum:
      - plan_free
      - plan_developer
      - plan_enterprise
      - plan_unlimited
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
